:root {
  --vinque: 'Vinque', sans-serif;
  --pacifico: 'Pacifico', cursive;
  --impact: 'Impact', sans-serif;
  --times: 'Times New Roman', Times, serif;
  --default: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;

}

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.view-container {
  margin-top: 24px !important;
  min-height: 95vh;
  min-width: 95vw;
}

body {
  margin: 0;
  justify-content: center;
  align-items: center;
}

.stardust {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  animation: stardust-animation 1s linear forwards;
}

@keyframes stardust-animation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

.special-title {
  font-family: var(--vinque);
  color: #080817;
  margin-top: 28px;
}

.purchase-button {
    border-radius: 18px;
    min-width: 150px;
    padding: 4px;
    border: 0px;
    color: white;
    background-color: #6696c7 !important;
}

.purchase-button:hover {
  background-color: #82a6cb !important;
}

.magazine-title {
    font-family: var(--impact);
    text-transform: uppercase;
    font-size: 28px;
    color: #fe89d2;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.currency {
    font-family: var(--default);
    font-weight: lighter;
    font-size: 16px;
}

.vinque {
    font-family: var(--vinque);
}